fastapi
uvicorn
pydantic-settings
pymupdf4llm
langchain_huggingface
langchain
langgraph
langchain-groq
langchain-text-splitters
docx
pymupdf4llm
langchain-pymupdf4llm
qdrant-client
chromadb
langchain_chroma
sentence-transformers
requests
pillow
rank-bm25
langchain-community
nemoguardrails
reportlab
python-multipart